@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik:wght@500&display=swap');


body {
    background: url(images/bg.jpg) fixed no-repeat center top / cover;
}

header {
    color:whitesmoke;
    text-align: center;
    font-family:'Rubik';
}

header > nav {
    text-align: right;
    font-family: 'Roboto Condensed';
}

nav > a{
    color:rgb(8, 8, 8);
    font-weight:bold;
    border-color:rgb(255, 255, 255);
    border-style: solid;
}

img {
    border-color: aliceblue ;
    border-style: solid;
    border-radius: 20px;
    float: left;
    margin-right: 25px;
}